h1{
    font-family: "Crimson Pro", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 36px; 

    margin-bottom: 0.2em;

    line-height: 1.2em;
}
h2{
    margin-top: 0;
    font-family: "Crimson Pro", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px; 

    line-height: 1.4em;
    color: grey;

    margin-bottom: 2em;
}
h3{
    font-family: "Crimson Pro", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px; 
    color: grey; 

    margin-top: 3em;
}
p{
    font-family: "Crimson Pro", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px; 
    color: black; 
    margin: 1em 0;
    line-height: 1.4em;
}
html {
    max-width: 720px;      /* change as needed */
    margin: 0 auto;        /* center the column */
    padding: 1rem;
  }
p, h1, h2, h3 {
    overflow-wrap: break-word; /* allow long words to wrap */
    word-break: break-word;
    hyphens: auto;
  }
  .ender{
    font-weight: 400 !important; 
    color: grey !important; 
    margin-top: 2em !important;
  }

  html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  /* main content grows */
  main {
    flex: 1;
  }
